<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="position: sticky; background: rgba(0, 0, 0, 0.574); z-index: 2000; color:bisque">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.png" height="90" alt="" loading="lazy" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: beige;"><b>Inicio</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Catalogo</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>contactanos</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>quienes somos</b></a>
        </li>
        
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <form class="d-flex input-group w-auto" style="padding-right: 30px; ">
        <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
        <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
          Search
        </button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          login | 
        </li>
        <li class="nav-item dropdown">
          sing in
        </li>        
      </ul>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div id="carouselExampleIndicators" class="carousel slide" style="position:relative; z-index: 1000; top: -120px">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://imagenescityexpress.scdn6.secure.raxcdn.com/sites/default/files/2017-10/panes-mexico.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://http2.mlstatic.com/el-mas-completo-curso-de-pan-panaderia-artesanal-comercial-D_NQ_NP_737054-MLV26176554639_102017-F.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.diariodesevilla.es/2019/01/19/con_cuchillo_y_tenedor/cosas_de_come/nueva-panaderia-cafeteria-Crustum_1320179242_104817176_1200x675.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h1>masjdkasdjf</h1>

<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>

<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>

<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1><h1>masjdkasdjf</h1>


<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>

<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>masjdkasdjf</h1>
<h1>asd</h1>
<router-outlet></router-outlet>
