<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="position: sticky; background: rgba(0, 0, 0, 0.574); z-index: 2000; color:bisque">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.png" height="90" alt="" loading="lazy" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: beige;"><b>Inicio</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Catalogo</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Contactanos</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Quienes somos</b></a>
        </li>
        
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <form class="d-flex input-group w-auto" style="padding-right: 30px; ">
        <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
        <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
          Search
        </button>
      </form> 

      
      <ul class="navbar-nav mb-2 mb-lg-0">
        <div class="col-md-3 text-end">
          <a mat-raised-button color="primary" [routerLink]="['/login']" style="margin-right: 6px;">Logiiin</a>
          <a mat-stroked-button color="primary" [routerLink]="['/singIn']" >Sing in</a>  
          </div>

               
      </ul>
      
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<router-outlet></router-outlet>

    